body {
    background-color: whitesmoke;
}

.component__wrap {
    width: 100%;
    position: relative;
    padding-top: 2rem;
}

.content__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: center;
}

.cell {
    width: 100%;
}

.cell__25 {
    width: 24%;
}

.cell__25:not(:last-of-type) {
  margin-right: 1rem
}

.material__wrap {
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: #ffffff;
    padding: 5.5rem 6rem;
    position: relative;
    box-sizing: border-box;
}

.material__wrap.--medium {
    padding: 40px 48px;
    padding: 1rem 3rem;
}

.posts__list__component a {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    position: relative;
    transition: all 300ms ease-in-out;
}

.posts__list__component a.active {
  transform: scale(1.2);
  z-index: 2;
}

.posts__list__component a h1 {
    color: #f35d54;
    font-size: 24px;
    font-size: 1.5rem;
    transition: all 300ms ease-out;
}

.posts__list__component a p {
    color: #000;
    transition: all 300ms ease-out;
}

.posts__list__component a.active p,
.posts__list__component a.active h1 {
  opacity: 0;
  transform: translateY(20px);
}

p {
    font-size: 0.9rem;
    line-height: 1.4;
}

img {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(20px);
}

.posts__list__component a.active img {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-out 300ms,
    transform 300ms ease-out 300ms;
}

.post__content {
  position: relative;
  zIndex: 2;
}

.posts__list__component a .donation h3 {
 color: #FCCD00;
  text-transform: uppercase;
  font-size: 1rem;
}

.donation {
  opacity: 0;
  transform: translateY(0);
}
.posts__list__component a.active .donation {
  opacity: 1;
  transform: translateY(-30px);
    transition: opacity 300ms ease-out 300ms,
    transform 300ms ease-out 300ms;
}

.loader {
  opacity: 0;
}

.loader.active {
  transition: opacity 300ms ease-out;
  opacity: 1;
}